    @media screen and (max-width: 1366px) and (max-height: 768px) {
        :root {
            // MEDIDAS HEADER
            --nav-visibility: visible;
    
            // MEDIDAS ARTICLE
    
            // MEDIDAS PRESENTACION
            --presentation-margin: 50px 120px;
            --presentation-flex-direction: row;
            --presentation-image-width: 550px;
            --presentation-image-margin: 0 0 0 120px;

            // MEDIDAS COMO FUNCIONA Y DE QUE ESTA HECHO
            --how-container-grid-rows: 50% 50%;
            --how-container-grid-columns: 20vh 30vh 30vh;
            --how-images-content-grid-column-position: 2 / 3;
            --how-images-content-grid-rows-position: 2 / 4;
            --how-images-container-width: 480px;
        }
    }

    @media screen and (max-width: 720px) and (max-height: 1280px) {
    :root {
        // MEDIDAS HEADER
        --nav-visibility: hidden;

        // MEDIDAS ARTICLE

        --article-grid-rows: 700px 1600px 650px 650px;

        // MEDIDAS PRESENTACION
        --presentation-margin: 10px;
        --presentation-flex-direction: column;
        --presentation-image-width: 440px;
        --presentation-image-margin: 0;

        // MEDIDAS COMO FUNCIONA Y DE QUE ESTA HECHO
        --how-container-grid-rows: 100px 300px 300px 400px;
        --how-container-grid-columns: 100vw;
        --how-images-content-grid-column-position: 1 / 3;
        --how-images-content-grid-rows-position: 4 / 5;
        --how-images-container-width: 400px;
    }

    //

    }

* {
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    
    .header__logo {
        width: 100px;
        margin: 0 0 0 30px;
    }

    .header__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 25px 75px;
        visibility: var(--nav-visibility);

        .header__elements {
            position: relative;
            margin: 0 30px;
            font-size: 20px;
            color: #fff;
            font-weight: 700;
            cursor: pointer;

            &:after {
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                width: 0;
                height: 2px;
                background-color: #FFF;
                transition: width .4s ease;
            }

            &:hover:after {
                width: 80%;
            }
        }
    }
}

.article {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--article-grid-rows);
    flex-direction: column;

    .article__section-presentation {
        position: relative;
        width: 90%;

        display: flex;
        justify-content: center;
        flex-direction: var(--presentation-flex-direction);
        margin: var(--presentation-margin);

        .article__image-gauntlet {
            height: var(--presentation-image-height);
            width: var(--presentation-image-width);
            filter: drop-shadow(0px 4px 2px #000);
            margin: var(--presentation-image-margin);
        }
        .article__text-container {
            display: flex;
            flex-direction: column;
            height: 400px;
            justify-items: center;
            margin-top: 40px;


            .article__title {
                font-size: 40px;
            }
    
            .article__slogan {
                width: 450px;
                font-size: 25px;
                color: #3B3B3B;
                font-weight: 700;
            }
        }
    }

    .section__description {
        margin: 0;
        display: flex;
        flex-direction: column;
        .section__title {
            display: inline-block;
            position: relative;
            left: 50%;
            top: 20px;
            border-radius: 20px 20px 0 0;
            transform: translateX(-50%);
            font-size: 60px;
            margin-bottom: -20px;
            color: #fff;
            background-color: #00004f;
            padding: 15px;
        }

        // CLASES PARA LA SECCIÓN DE CÓMO FUNCIONA Y DE QUÉ ESTÁ HECHO

        .section__container--how, .section__container--made {
            display: grid;
            grid-template-columns: var(--how-container-grid-columns);
            grid-template-rows: var(--how-container-grid-rows);
            z-index: 10;
            width: 100%;
            margin: 0 0 40px 0;
    
            .section__title--how, .section__title--made{
                display: flex;
                align-items: center;
                height: 90px;
                font-size: 40px;
                background-color: #004ba0;
                color: #fff;
                padding-left: 20px;
            }
            
            .section__content--how, .section__content--made {
                display: inline-block;
                grid-column: 1 / 2;
                background-color: #fff;
                font-size: 20px;
                margin: 80px 40px;
                color: #000;
            }
            .section__images-content--how, .section__images-content--made {
                display: flex;
                align-self: center;
                justify-self: center;
                align-items: center;
                justify-content: center;
                background: #fff;
                width: 100%;
                height: 100%;
                grid-column: var(--how-images-content-grid-column-position);
                grid-row: var(--how-images-content-grid-rows-position);
                margin: -1px 0 0 0;
                padding-bottom: 3px;
                z-index: 1;

                .section__images-container--how, .section__images-container--made {
                    display: flex;
                    width: var(--how-images-container-width);
                    height: 300px;
                    align-items: center;
                    overflow: hidden;
                    z-index: 20;
                    box-shadow: 0 3px 10px #666666;
    
                    .section__images--how, .section__images--made {
                        object-fit: scale-down;
                        width: 100%;
                        height: 100%;
                        transition: translate 2s ease;
                        animation: moveImages 10s alternate ease-in-out infinite;
                    }
                }
            }

            // MODIFICADOR DE CÓMO FUNCIONA

            .section__images-container--how {
                border: 15px solid #19227c;
            }

            // MODIFICADORES SOBRE: DE QUÉ ESTA HECHO

            .section__content--made {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
            .section__images-content--made {
                grid-column: 1 / 2;
            }
            .section__title--made {
                background-color: #005005;
            }

            .section__images-container--made {
                border: 10px solid #C6C6C6;
            }

            .section__list--made {
                display: grid;
                position: relative;
                top: -120px;

                grid-template-columns: 100px;
                grid-template-rows: 70px repeat(3, 30px);
                grid-column: 2 / 3;
                grid-row: 3 / 4;

                .section__list-title--made {
                    font-size: 25px;
                    font-weight: 700;
                }

                .section__list-item--made {
                    font-size: 19px;
                    margin: 0 0 0 20px;
                }
            }
        }
    }

    // SECCIÓN DE CONTACTOS

    .section__contact {
        position: relative;
        .section__title--contact {
            font-size: 40px;
            background-image: linear-gradient(to left, #280052, #4B008E);
            color: #fff;
            padding: 20px 15px;
            text-align: center;
        }

        .card--contact {
            display: grid;
            background-color:#fff;
            grid-template-columns: 400px 400px;
            grid-template-rows: 400px;
            grid-gap: 140px;
            justify-content: center;

            .card__item--contact {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                width: 400px;
                height: 400px;

                

                &::before {
                    position: absolute;
                    content: "";
                    background-color: #fff;
                    top: 0;
                    width: 400px;
                    height: 0;
                    transition: all .8s ease;
                    z-index: 13;
                }

                &:hover:before {
                    height: 400px;
                }

                &:hover .card__icon--contact.white {
                    opacity: 0;
                }

                &:hover .card__title--contact {
                    opacity: 1;
                    transition-delay: .8s;
                }

                &:hover .card__icon--contact.green {
                    opacity: 1;
                    animation: moveIcon .7s alternate ease;
                    animation-delay: .6s;
                    animation-fill-mode: both;
                    transition: animation .5s ease;
                }

                &:hover .card__number--contact {
                    opacity: 1;
                    transition-delay: 1s;
                }

                .card__icon--contact {
                    display: inline;
                    position: absolute;
                    margin: 100px 0;
                    width: 200px;
                    z-index: 15;

                    &.green {
                        transition: opacity .8s ease, animation .5s ease;
                        opacity: 0;
                    }

                    &.white {
                        transition: opacity .8s ease;
                        opacity: 1;
                    }
                }


                .card__title--contact {
                    position: absolute;
                    opacity: 0;
                    bottom: 45px;
                    text-align: center;
                    font-size: 25px;
                    z-index: 20;
                    transition: ease .5s opacity;
                }

                .card__number--contact {
                    position: absolute;
                    opacity: 0;
                    bottom: 20px;
                    font-size: 33px;
                    color: #000;
                    z-index: 21;

                    transition: opacity .5s ease;
                }



            }

            .card__item--contact:first-child {
                background-color: #007804;
            }

            .card__item--contact:last-child {
                background-image: linear-gradient(45deg, #FFE600, #FF0000, #5F008C 70%);
            }
        }
    }

    // SECCIÓN DE SOBRE NOSOTROS

    .section__about {
        .section__title--about {
            font-size: 40px;;
            color: #000;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            padding: 20px 15px;
            text-align: center;
        }

        .section__container--about {
            .section__container-title--about {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin: 80px 0 20px 0;
            }

            .section__container-text--about {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}



@keyframes moveIcon {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-25%);
    }
}



@keyframes moveImages {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(-100%);
    }
    76% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}