:root {
    --header-height: 90px;
    --header-width: 100vw;
}

* {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-x: hidden;

}

.header {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: var(--header-width);
    background-color: #000;
    

    /*&:before{
        position: absolute;
        justify-self: center;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        content: "";
        width: 80vw;
        height: 1px;
        background-color: #fff;
    }*/

    .header__logo {
        width: 100px;
        margin: 0 0 0 50px;
    }

    .header__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 25px 75px;

        .header__elements {
            position: relative;
            margin: 0 30px;
            font-size: 20px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;

            &:after {
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                width: 0;
                height: 2px;
                background-color: #FFF;
                transition: width .4s ease;
            }

            &:hover:after {
                width: 80%;
            }
        }
    }
}

.article {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 600px);
    flex-direction: column;
    .article__section-presentation {
        position: relative;
        max-width: 100vw;
        max-height: 100vh;
        .article__image-gauntlet-div {
            position: absolute;
            top: 150px;
            left: 200px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            /*background-image: radial-gradient(#005597,#2388CF );*/
            z-index: 10;
            /*box-shadow: 0 0 60px 100px #2388CF;*/
            
            .article__image-gauntlet {
                position: absolute;
                width: 650px;
                top: -100px;
                left: -250px;
            }
        }
        .article__text-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 400px;
            width: 500px;
            justify-items: center;
            right: 200px;
            top: 40px;


            .article__title {
                position: absolute;
                font-size: 40px;
            }
    
            .article__simple-text {
                position: absolute;
                top: 70px;
                font-size: 25px;
            }
        }
        
    }

    .article__section-how {
        display: grid;
        position: relative;
        z-index: 10;
        // background-color: #48e;
        width: 100%;

        .article__title-how {
            height: 40px;
            width: 100%;
            // background-color: lightblue;
        }
    }
}